{$AHINARENA_DOMAIN} {
	root * /srv/ahinarena/frontend
	encode zstd gzip

	handle /api/* {
		uri strip_prefix /api
		reverse_proxy api:8000
	}

	handle {
		try_files {path} /index.html
		file_server
	}
}
